<div class="footer">
    <footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-4 mb-md-0 mb-3">
            <a 
                target="_blank" 
                href="https://www.google.com/">
                Copyright Creative Workers
            </a>
          </div>
          <div class="col-md-4 mb-md-0 mb-3">
            <div>
                <a 
                    target="_blank" 
                    href="https://www.google.com/">
                    Privacy
                </a>
                <a 
                    class="middle-link"
                    target="_blank" 
                    href="https://www.google.com/">
                    Terms
                </a>
                <a 
                    class="middle-link"
                    target="_blank" 
                    href="https://www.google.com/">
                    Cookies
                </a>
                <a 
                    class="middle-link"
    
                    target="_blank" 
                    href="https://www.google.com/">
                    More
                </a>
            </div>
          </div><div class="col-md-4 mb-md-0 mb-3">
            <a target="_blank" href="https://www.google.com/">KissMyButton <mat-icon inline="true">copyright</mat-icon> 2017</a>
          </div>
      </div>
    </div>
  </footer>
</div>
