<div class="footer">
    <hr class="separator"> 

    <div class="container">
        <a 
            target="_blank" 
            href="https://www.google.com/">
            Copyright Creative Workers
        </a>
        <div>
            <a 
                target="_blank" 
                href="https://www.google.com/">
                Privacy
            </a>
            <a 
                class="middle-link"
                target="_blank" 
                href="https://www.google.com/">
                Terms
            </a>
            <a 
                class="middle-link"
                target="_blank" 
                href="https://www.google.com/">
                Cookies
            </a>
            <a 
                class="middle-link"

                target="_blank" 
                href="https://www.google.com/">
                More
            </a>
        </div>
        <a target="_blank" href="https://www.google.com/">KissMyButton <mat-icon inline="true">copyright</mat-icon> 2017</a>
    </div>

</div>

