.filter-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}

.top-container {
    display: flex;
    align-content: space-around;
}

.news-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.news-card {
    max-width: 30%;
}
  
.news-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    max-width: 350px;
}

.mat-form-field {
    margin-right: 12px;
  }