<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="filter-container">
                <app-filters
                    (categoryChanged)="onCategoryChange($event)"
                ></app-filters>
            </div>
            <hr>
            <app-alert 
                [message]="error" 
                *ngIf="error" 
                (close)="onHandleError()">
            </app-alert>
            <div *ngIf="isLoading" style="text-align: center;">
                <app-loading-spinner></app-loading-spinner>
            </div>
            <div *ngIf="!isLoading" class="news-container">
                <mat-card 
                    class="news-card"
                    *ngFor="let article of articleList;"> 
                    <img 
                        mat-card-image 
                        [src]="article.img" 
                        *ngIf="article.img"
                        alt="Photo did not load">
                    <mat-card-header>
                        <mat-card-title>{{ article.title }}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{ article.description }}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <!-- <p>
                            <mat-icon inline="true">local_offer</mat-icon>
                            {{ article.category }}
                        </p> -->
                    </mat-card-actions>
                </mat-card>
                <mat-paginator 
                    [length]="listLength"
                    [pageSize]="pageSize"
                    [pageIndex]="pageIndex - 1"
                    (page)="onPageChange($event);">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>